@import 'settings';
@import 'foundation-emails';

@import 'template/template';

/******** Highview E-News Template *********/

ul.social-media {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      width: 30px;
      margin-right: 40px;
      &:nth-child(5) {
        margin-right: 0px;
      }
    }
  }
  .footer-text {
    display: flex;
    justify-content: center;
    p {
      width: 580px;
      color: #333;
      font-size: 14px;
    }
  }
  
  .text-header {
    display: flex;
    justify-content: center;
    p {
      display: flex;
      justify-content: flex-end;
      width: 580px;
      color: #333;
      font-size: 14px;
    }
  }
  /******** Highview Template *********/
  
  .header-highview {
    height: 115px;
    width: 100%;
    background-color: #333;
  }
  .social-media-icon {
    box-sizing: border-box;
    width: 20px;
  }

  
/******** Student Email Template *********/
  .bg-primary-color {
      width: 100%;
      background-color: $primary-color;
      .header-image {
        margin-top: 15px;
      }
  }

  .bg-secondary-color {
    width: 100%;
    background-color: $secondary-color;
  }
  
  .vision-title {
      color: $white;
      text-align: center;
      padding: 0;
      margin: 20px;
  }

  .student-section-header {
      margin: 0;
      width: 100%;
      padding:0 !important;
      .header-image {
          width: 100%;
      } 
  }

  