/******** Highview Template *********/
/****** HEADER ******/
.blue-header {
  background-color: $primary-color;
  padding: 0 !important;
}
  
  /****** BODY ******/
.header-line {
      height: 10px;
      background-color: $secondary-color;
  }
.body-content {
    background-color: #fff;
    padding: 20px 30px !important;
}

  /****** FOOTER ******/
  .footer {
      background-color: $secondary-color;
      height: 150px;
  }
  .social-media {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    Margin: 0;
    padding: 0;
    a {
        margin: 0px 8px;
        Margin: 0px 8px;
        img {
          display: inline-block;
        }
    }
  }
  .footer-text {
    display: flex;
    justify-content: center;
    p {
      width: 580px;
      color: #f8f8f8;
      font-size: 14px;
      a {
          color: #00a0d1;
      }
    }
  }
