/******** Student Email Template *********/
  .bg-primary-color {
      width: 100%;
      background-color: $primary-color;
      .header-image {
        margin-top: 15px;
      }
  }

  .bg-secondary-color {
    width: 100%;
    background-color: $secondary-color;
  }
  
  .vision-title {
      color: $white;
      text-align: center;
      padding: 0;
      margin: 20px;
  }

  .student-section-header {
      margin: 0;
      width: 100%;
      padding:0 !important;
      .header-image {
          width: 100%;
      } 
  }


  /****** FOOTER ******/
  .footer {
      background-color: $secondary-color;
      height: 170px;
  }
  .social-media {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    Margin: 0;
    padding: 0;
    a {
        margin: 0px 8px;
        Margin: 0px 8px;
        font-size: 35px;
        color: #fff;
    }
  }
  .footer-text {
    display: flex;
    justify-content: center;
    p {
      width: 580px;
      color: #f8f8f8;
      font-size: 14px;
    }
  }
