<row>
  <columns class="footer-text" small="12" large="12">
    <p class="text-center">Copyright © 2020 Highview Baptist Church, All rights reserved.</p>
    <p class="text-center">You are receiving this e-mail because you are actively involved with Highview Baptist Church or filled out the newsletter sign-up form at highview.org.</p>
  </columns>
</row>
<row>
  <columns class="footer-text" small="12" large="12">
    <p class="text-center"><strong>Our mailing address is:</strong><br>Highview Baptist Church<br>
    7711 Fegenbush Lane<br>
    Louisville, KY 40228</p>
  </columns>
</row>
{{> bottom-short-info }}