<container>
    <row>
        <columns small="9" large="9" class="blue-section" valign="middle">
            <center>
            <h5 class="text-center">Disciple Makers Tools and Resources</h5>
            </center>
        </columns>
        <columns small="3" large="3" class="white-section" valign="middle">
            <center>
                <img src="https://highview.org/Content/EmailTemplates/JoD/60x60/jod-discipleship.png" alt="Discipleship Logo">
            </center>
        </columns>
    </row>
</container>