<container>
    <row>
        <columns small="" large="8" class="white-section-footer" valign="middle">
            <row>
                <columns large="5" class="author-container" valign="middle">
                    <img src="https://highview.org/Content/EmailTemplates/Discipleship/ScottLong.jpg" alt="Scott Long">
                </columns>
                <columns class="author-info" valign="middle">
                    <h4>Scott Long</h4>
                    <p>Discipleship Pastor</p>
                    <row>
                        <columns class="social-media-discipleship">
                            <a href="mailto:scott.long@highview.org"><img width="30px" height="30px" src="https://highview.org/Content/EmailTemplates/Discipleship/SocialMedia/email-icon.png" alt="twitter logo"></a>
                            <a href="https://twitter.com/HVScottLong"><img width="30px" height="30px" src="https://highview.org/Content/EmailTemplates/Discipleship/SocialMedia/twitter-icon.png" alt="email logo"></a>
                        </columns>
                    </row>
                </columns>
            </row>
        </columns>
        <columns class="blue-section-footer" large="4" valign="middle">
                <a href="https://highview.org">
                    <center>
                    <img width="150px" src="https://highview.org/Content/EmailTemplates/Logo/highview-logo.png" alt="Highview logo">
                    </center>
                </a>
        </columns>
    </row>
</container>