<div class="structure-dropzone">
    <div class="dropzone">
        <div class="component component-text" data-content="<h1>Email Title</h1>" data-state="component">
          <spacer size="30"></spacer>
          <row>
            <columns small="6" large="6">
              <img src="https://www.highview.org/Content/EmailTemplates/HighviewE-News/upcoming-events.png" alt="">
              <ul>
                <li><strong>10/27</strong> Help, Hope, Heal Conference</li>
                <li><strong>10/28</strong> Orphan Care Sunday</li>
                <li><strong>11/11</strong> Family Dedication</li>
              </ul>
            </columns>
            <columns small="6" large="6">
              <img src="https://www.highview.org/Content/EmailTemplates/HighviewE-News/follow-along.png" alt="">
              <ul>
                <li><strong>This Week</strong> Mark 6</li>
                <li><strong>Last Week</strong> Mark 5</li>
              </ul>
            </columns>
          </row>
        </div>
    </div>
</div>
