<div class="structure-dropzone">
    <div class="dropzone">
        <div class="component component-text" data-content="<h1>Email Title</h1>" data-state="component">
          <spacer size="30"></spacer>
          <row>
            <columns large="12">
              <center>
                <ul class="social-media">
                  <li><a href="https://www.highview.org/"><img src="https://www.highview.org/Content/EmailTemplates/HighviewE-News/gray-link-48.png" alt="link logo"></a></li>
                  <li><a href="https://twitter.com/highviewbaptist"><img src="https://www.highview.org/Content/EmailTemplates/HighviewE-News/gray-twitter-48.png" alt="twitter logo"></a></li>
                  <li><a href="https://www.facebook.com/highviewbaptistchurch"><img src="https://www.highview.org/Content/EmailTemplates/HighviewE-News/gray-facebook-48.png" alt="facebook logo"></a></li>
                  <li><a href="https://www.instagram.com/highviewbaptist/"><img src="https://www.highview.org/Content/EmailTemplates/HighviewE-News/gray-instagram-48.png" alt="instagram logo"></a></li>
                  <li><a href="https://open.spotify.com/user/highviewmusic1"><img src="https://www.highview.org/Content/EmailTemplates/HighviewE-News/gray-spotify-48.png" alt="spotify logo"></a></li>
                </ul>
              </center>
            </columns>
          </row>
          <row>
            <columns>
              <center>
                <img src="https://www.highview.org/Content/EmailTemplates/HighviewE-News/highview-e-news.png">
              </center>
            </columns>
          </row>
        </div>
    </div>
</div>
