<div class="structure-dropzone">
    <div class="dropzone">        
        <container>
            <row>
                <columns large="12" class="body-content">
                    <spacer size="20"></spacer>
                    <h3>Hello world</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad dolorem ea sit suscipit non quas sint! Alias corrupti odit fugiat. Voluptatem voluptatibus alias enim adipisci aut accusamus perspiciatis fugit eaque.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad dolorem ea sit suscipit non quas sint! Alias corrupti odit fugiat. Voluptatem voluptatibus alias enim adipisci aut accusamus perspiciatis fugit eaque.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad dolorem ea sit suscipit non quas sint! Alias corrupti odit fugiat. Voluptatem voluptatibus alias enim adipisci aut accusamus perspiciatis fugit eaque.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad dolorem ea sit suscipit non quas sint! Alias corrupti odit fugiat. Voluptatem voluptatibus alias enim adipisci aut accusamus perspiciatis fugit eaque.</p>
                    <spacer size="20"></spacer>
                </columns>
            </row>
        </container>
    </div>
</div>