<container>
    <row>
        <columns class="blue-header">
            <spacer size="30px"></spacer>
            <center>
                <img width="225" src="https://highview.org/Content/EmailTemplates/Logo/highview-logo.png" alt="Highview logo">
            </center>
            <spacer size="30px"></spacer>
        </columns>
    </row>
    <row>
        <columns class="gray-header">
            <center>
                <h5 class="text-center">We exist to lead people to know and follow Jesus.</h5>
            </center>
        </columns>
    </row>
</container>