<container>
    <row class="footer large-12">
        <columns large="6" valign="middle">
            <center>
                <img src="../assets/img/highview-logo.png" alt="Highview logo">
            </center>
        </columns>
        <columns class="social-media" large="6" valign="middle" >
            <center>
                <a href="https://facebook.com/highviewbaptistchurch"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a href="https://twitter.com/highviewbaptist"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://instagram.com/highviewbaptist/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/channel/UCn8YXQNnOr6LRI5MnxAECO"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                <a href="https://play.spotify.com/user/highviewmusic1"><i class="fa fa-spotify" aria-hidden="true"></i></a>
            </center>
        </columns>
    </row>
</container>