<row class="header-highview">
  <columns>
    <img src="" alt="">
  </columns>
  <columns>
    <div class="social-media-bar">
    <a href=""><img class="social-media-icon" src="/assets/img/archive/HV-Icon-White.png" alt="Highview Logo"></a>
    <a href=""><img class="social-media-icon" src="/assets/img/archive/facebook-f-brands.svg" alt="facebook logo"></a>
    <a href=""><img class="social-media-icon" src="/assets/img/archive/twitter-brands.svg" alt="Twitter Logo"></a>
    <a href=""><img class="social-media-icon" src="/assets/img/archive/instagram-brands.svg" alt="Instagram Logo"></a>
    <a href=""><img class="social-media-icon" src="/assets/img/archive/spotify-brands.svg" alt="Spotify Logo"></a>
    </div>
  </columns>
</row>
