<div class="structure-dropzone">
    <div class="dropzone">
        <container>
            <row class="footer large-12">
                <columns large="6" valign="middle">
                    <center>
                        <a href="https://highview.org"><img src="https://highview.org/Content/EmailTemplates/Logo/highview-logo.png" alt="Highview logo"></a>
                    </center>
                </columns>
                <columns class="social-media" large="6" valign="middle">
                    <center>
                    <row>
                        <columns class="social-media__icon" valign="middle">
                            <a href="https://facebook.com/highviewbaptistchurch"><img width="30px" height="30px" src="https://highview.org/Content/EmailTemplates/Social-Media/30x30/facebook-icon.png" alt="facebook logo"></a>
                        </columns>
                        <columns class="social-media__icon" valign="middle">
                            <a href="https://twitter.com/highviewbaptist"><img width="30px" height="30px" src="https://highview.org/Content/EmailTemplates/Social-Media/30x30/twitter-icon.png" alt="twitter logo"></a>
                         </columns>
                        <columns class="social-media__icon" valign="middle">
                            <a href="https://instagram.com/highviewbaptist/"><img width="30px" height="30px" src="https://highview.org/Content/EmailTemplates/Social-Media/30x30/instagram-icon.png" alt="instagram logo"></a>
                        </columns>  
                        <columns class="social-media__icon" valign="middle">
                            <a href="https://www.youtube.com/channel/UCn8YXQNnOr6LRI5MnxAECOg"><img width="30px" height="30px" src="https://highview.org/Content/EmailTemplates/Social-Media/30x30/youtube-icon.png" alt="youtube logo"></a>
                        </columns>
                        <columns class="social-media__icon" valign="middle">
                        <a href="https://play.spotify.com/user/highviewmusic1"><img width="30px" height="30px" src="https://highview.org/Content/EmailTemplates/Social-Media/30x30/spotify-icon.png" alt="spotify logo"></a>
                        </columns>
                    </row>
                    </center>
                </columns>
            </row>
        </container>
    </div>
</div>