
<container>
    <row>
        <columns class="image-block-container">
            <div class="structure-dropzone">
                <div class="dropzone">
                    <div class="component" data-state="component">
                        <img src="https://via.placeholder.com/600x250" width="600" height="250" 
            data-instructions="Provide a png or jpg image with size 600x250px">
                    </div>
                </div>
            </div>
        </columns>
    </row>
</container>